p {
    /* свойство : значение */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: rgb(44, 16, 72);
}

p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
    height: 500px;
    background-color: beige;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    font-size: 2rem;
    color: blueviolet;
}

img {
    width: 100%;
    max-width: 1000px;
}